.titulo{
    color: #022600;
    font-size: 100px;
}

.titulo_info_libria{
    color: #487252;
    font-size: 40px;
}

.titulo_localizacion{
    color: #487252;
    padding-left: 8px;
}

.infoUno{
    margin-bottom: 10px;
}

  .infoLibreria{
    padding-bottom: 10px;
    text-align: center;
}

  
.acomodarBoton{
    float: right;
}

.acomodarInformacion{
    padding-bottom: 15px;
}

.button{
    border: none;
    padding: 10px;
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 10px;
}
.button:hover{
    transition: 0.4s;
    color: white;
    background-color: 487252;
    cursor: pointer;
}

.search-cont{
    margin: 10px -4% 10px 3%;
}

.search-box{
    width: 290px;
    padding: 10px 10px;
    font-size: 1rem;
}


.table-cont{
    margin: 10px 7% 50px 5%;
}

.lista-suc{
    width: 100%;
    border-collapse: collapse;
}

.lista-suc td{
    padding: 10px;
    border-bottom: 1px solid silver;
}

.table-titles{
    background-color: #487252; 
    border-bottom: solid 1px silver;
    color: white;
}

.table-titles td{
    padding: 10px;
    border-bottom: 1px solid silver;
}

#container_mapa{
    padding-top: 15px;
}
.scrollit {
    overflow:scroll;
    height:64%;
    width: auto;
}

@media(max-width: 1000px){

}