.oculto{
    display: none;
}

.acomodar{
    display: flex;
}

#icons{
    padding-left: 47%;
    padding-top: 19px;
}

#pencil, #trash{
    float: right;
}
#trash{
    color: rgb(223, 80, 80);
}

#pencil{
    color: #487252;
    padding-right: 20px;
}

.main-title{
    color: #022600;
    margin: 0;
}

.full{
    width: 100% !important;
}

/*content*/
.main-wrapper{
    overflow: auto;
}

.wrapper-cont{
    float: left;
    width: 100%;
}

.portada-cont{
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.portada{
    width: 250px;
}

.libro-cont{
    overflow: auto;
    float: left;
    width: 80%;
    box-sizing: border-box;
    
}

.libro-cont-mitad{
    overflow: auto;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.libro-info-list{
    display: inline;
    list-style: none; 
    padding: 0;
}

.libro-info-list li{
    padding-bottom: 20px;
    margin-right: 10px; 
}

.opciones{
    height: 400px;
    overflow: scroll;
}

.opcion{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: solid 1px silver;
}
.div-opcion{
    float: left;
    width: 50%;
}

.opciones button{
    padding: 10px;
    margin-top: 10px;
    background-color: #48725231;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    float: right;
}

.opciones button:hover{
    padding: 10px;
    background-color: #487252;
    color: white;
    border: none;
}

/*tabs*/
.tab-wrapper{
    overflow: auto;
    text-align: center;
    padding: 10px 10%;
}

.tab-wrapper div{
    float: left;
    width: 50%;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-selected{
    background-color: #487252;
}

.tab-selected a{
    color: white;
}

.tab-unselected{
    background-color: #48725231;
}

.tab-unselected a{
    color: black;
}

.submit{
    text-align: center;
    padding: 10px 30px;
    margin: 20px 0;
    background-color: #48725231;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

.submit:hover{
    background-color: #487252;
    color: white;
}

@media(max-width: 1278px){

    .card{
        margin: 20px 4%;
    }

}

@media(max-width: 1130px){

    .card{
        margin: 20px 3.5%;
    }

}

@media(max-width: 1070px){

    .card{
        margin: 20px 2%;
    }

}


@media(max-width: 920px){

    .card{
        margin: 20px 5%;
    }

}


/*cambios para movil*/
@media(max-width: 750px){
    
    .card{
        margin: 20px 5%;
    }
    
}
