.oculto{
    display: none;
}

.main-title{
    color: #022600;
    margin: 0;
}

.full{
    width: 100% !important;
}

/*content*/
.main-wrapper{
    overflow: auto;
}

.wrapper-cont{
    float: left;
    width: 100%;
}

.portada-cont{
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.portada{
    width: 250px;
}

.libro-cont{
    overflow: auto;
    float: left;
    width: 80%;
    box-sizing: border-box;
    
}

.libro-cont-mitad{
    overflow: auto;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.libro-info-list{
    display: inline;
    list-style: none; 
    padding: 0;
}

.libro-info-list li{
    padding-bottom: 20px;
    margin-right: 10px; 
}

.opciones{
    max-height: 400px;
    overflow: scroll;
}

.opcion{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: solid 1px silver;
}

.div-opcion{
    float: left;
    width: 50%;
}

.table-cont{
    margin: 10px 9.5% 50px 9.5%;
    max-height: 400px;
    overflow: scroll;
}

.lista-suc{
    width: 100%;
    border-collapse: collapse;
}

.lista-suc td{
    padding: 10px;
    border-bottom: 1px solid silver;
}

.lista-suc i{
    color: #487252;
}

.table-titles{
    background-color: #487252; 
    border-bottom: solid 1px silver;
    color: white;
}

.table-titles td{
    padding: 10px;
    border-bottom: 1px solid silver;
}

.selectFiltrar{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 3% 10px 0;
    font-size: 1rem;
    
    border: none;
    background-color: #48725231;
}

@media(max-width: 1278px){

    .card{
        margin: 20px 4%;
    }

}

@media(max-width: 1130px){

    .card{
        margin: 20px 3.5%;
    }

}

@media(max-width: 1070px){

    .card{
        margin: 20px 2%;
    }

}


@media(max-width: 920px){

    .card{
        margin: 20px 5%;
    }

}


/*cambios para movil*/
@media(max-width: 750px){
    
    .card{
        margin: 20px 5%;
    }
    
}
