.oculto{
    display: none;
}

.main-title{
    padding-left: 20%;
    color: #022600;
}

/*content*/
.main-wrapper{
    overflow: auto;
}

.wrapper-cont{
    float: left;
    width: 100%;
}

.wrapper-cont table{
    width: 60%;
    margin: 10px 20% 50px 20%;
}

.form-full{
    float: left;
    width: 100%;
    padding: 5px 5px;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
}

.submit{
    text-align: center;
    padding: 10px 30px;
    background-color: #48725231;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

.submit:hover{
    background-color: #487252;
    color: white;
}

@media(max-width: 920px){

    .side-bar a{
        font-size: 1rem;
    }

    .side-bar-selected a{
        font-size: 1rem;
    }
}


/*cambios para movil*/
@media(max-width: 750px){

    /*side bar*/
    .wrapper-side-bar{
        display: none;
    }

    .select-side-bar{
        display: block;
        text-align: center;
    }

    .wrapper-cont{
        width: 100%;
    }

    .tab-wrapper div{
        font-size: 1rem;
    }

    .form-mitad h3{
        font-size: 1rem;
    }

    .form-full h3{
        font-size: 1rem;
    }

    .select-form{
        font-size: 1rem;
    }

    .wrapper-form{
        padding: 20px 10%;
    }

    .submit{
        padding: 5px 20px;
        margin: 20px 40%;
    }
    
}

.table-data{
	text-align: left;
	font-weight: bold;
}

td{
	height: 50px;
	border-bottom: 1px solid #9e9e9e;
}

.tdmenu{
	color: #9e9e9e;
	font-weight: bold;
	padding-right: 25%;
}

table{
	box-sizing: border-box;
	width: 65%;
	margin: auto;
	border-collapse: collapse;
	font-size: 1rem;
	padding-bottom: 10%;
}
