.oculto{
    display: none;
}

.form-full{
    float: left;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


.submit{
    text-align: center;
    padding: 10px 30px;
    background-color:white;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit:hover{
    background-color: #487252;
    color: white;
}


.top-cont{
    background: url(../../img/daniel-filipe-unsplash.jpg)  no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    padding-top: 30px;
    text-align: center;
}

/*cambios para movil*/
@media(max-width: 750px){
    .form-full h3{
        font-size: 1rem;
    }
    .submit{
        padding: 5px 20px;
        margin: 20px 40%;
    }
    
}
.font h1{
    color: #487252;
}
