


#bloque1{
    float: left;
    width: 80%;
}

#bloque2{
    float: left;
    width: 20%;
}
















.tamaNo_space_div{
    float: left;
    padding-left: 50px;
    width: 20%;
}

.tamaNo_space_div p{
    font-size: 11px;
}
.tamaNo_space_img{
    width: 40%;
    height: 90%;
}

footer{
    width: 100%;
}

.video-cont{
    text-align: center;
    margin-bottom: 30px;
    
}

.video{
    width: 500px;
    height: 350px;
}

.contenedor-titulo{
padding:20px 125px;
}
.contenedor-titulo h1{
    font-weight: bolder;
    color:#fff;
}
section{
padding-left: 100px;
}

.contenedor-left{
    float: left;
    padding-top: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
}
.contenedor-left h2{
color: #fff;
}

.contenedor-center{
    float: left;
    padding-top: 22px;
    width:326px; 
    margin:33px;
    text-align:justify;
}
.contenedor-center h2{
    color: #fff;
}

.contenedor-right{
    float: left;
    padding-top: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
}
.contenedor-right h2{
    color: #fff;
}
.parrafo1{
    
    color: #fff;
    font-size: 1.5rem;
}

.parrafo2{
    color: #fff;
    font-size: 1.5rem;
}

.parrafo3{
    color: #fff;
    font-size: 1.5rem;
}

.contenedor-left2{
    float: left;
    padding-top: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
}


.parrafo4{
    font-size: 1.5rem;
}

.contenedor-right2{
    float: left;
    padding-top: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
}

.parrafo6{
    font-size: 1.5rem;

}

