


#bloque1{
    float: left;
    width: 80%;
}

#bloque2{
    float: left;
    width: 20%;
}


.tamaNo_space_div{
    float: left;
    padding-left: 50px;
    width: 20%;
}

.tamaNo_space_div p{
    font-size: 11px;
}
.tamaNo_space_img{
    width: 40%;
    height: 90%;
}

footer{
    width: 100%;
}

.video-cont{
    text-align: center;
    margin-bottom: 30px;
    
}

.video{
    width: 500px;
    height: 350px;
}

.contenedor-titulo{
padding:20px 125px;

}
.contenedor-titulo h1{
    font-weight: bolder;
    color:#487353;
    background-color: rgba(240,255,224,0.3);
}
section{
padding-left: 100px;

}

.contenedor-left{
    float: left;
    padding: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
    background-color: rgba(240,255,224,0.3);
    height: 400px;
}
.contenedor-left h2{
color: #fff;
text-align: center;
}

.contenedor-center{
    float: left;
    padding: 22px;
    width:326px; 
    margin:33px;
    text-align:justify;
    background-color: rgba(240,255,224,0.3);
    height: 400px;
}
.contenedor-center h2{
    color: #fff;
    text-align: center;
}

.contenedor-right{
    float: left;
    padding: 22px;
    width: 326px;
    margin:33px;
    text-align:justify;
    background-color: rgba(240,255,224,0.3);
    height: 400px;
}
.contenedor-right h2{
    color: #fff;
    text-align: center;
}
.parrafo1{
    
    color: #fff;
    font-size: 1.5rem;
}

.parrafo2{
    color: #fff;
    font-size: 1.5rem;
}

.parrafo3{
    color: #fff;
    font-size: 1.5rem;
}

.contenedor-left2{
    float: left;
    padding: 54px 22px 22px 22px;
    text-align:justify;
    width: 50%;
}


.parrafo4{
    font-size: 1.5rem;
}

.contenedor-right2{
    float: left;
    padding: 54px 22px 22px 22px;
    text-align:justify;
    width: 50%;
}



.parrafo6{
    font-size: 1.5rem;

}


.imgTitulo{
    height: 134px;
margin-bottom: 20px;
}

.videoUp{
    display: inline-block;
width: 100%;
}
.videoUp h1{
    text-align: center;
}