.main-title{
    padding-left: 20%;
    color: #022600;
}

/*content*/
.main-wrapper{
    overflow: auto;
}


.wrapper-cont{
    float: left;
    width: 100%;
}


.wrapper-form{
    padding: 20px 20%;
    overflow: auto;
    box-sizing: border-box;
}

.wrapper-form h3{
    margin: 0;
    font-size: 1.2rem;
}

.input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px 4px 0px;
    font-size: 1.2rem;
}

.form-mitad{
    float: left;
    width: 50%;
    padding: 5px 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.form-full{
    float: left;
    width: 100%;
    padding: 5px 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.form-btn{
    float: left;
    width: 100%;
    padding: 5px 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
    text-align: center;
}

.submit{
    text-align: center;
    padding: 10px 30px;
    margin: 20px 0 50px 0;
    background-color: #48725231;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

.submit:hover{
    background-color: #487252;
    color: white;
}


/*cambios para movil*/
@media(max-width: 750px){

    .wrapper-cont{
        width: 100%;
    }

    .form-mitad h3{
        font-size: 1rem;
    }

    .form-full h3{
        font-size: 1rem;
    }

    .wrapper-form{
        padding: 20px 10%;
    }

    .main-title{
        padding-left: 10%;
    }

    .submit{
        padding: 5px 20px;
        margin: 20px 40%;
    }
    
}